.counter-section {
  margin-top: 200px;
  background-color: var(--gray);
  padding-top: 150px;
  padding-bottom: 100px;
  color: black;

  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-wrap: wrap;
    gap: 30px;
    .counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .count {
        display: flex;
        font-weight: 700;
        font-size: 55px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
}
