.hero-section {
  margin-top: 70px;
  @media (max-width: 768px) {
    height: 50vh;
  }

  .layout {
    @media (max-width: 768px) {
      border-top-right-radius: 5px;
    }
  }
  .hero {
    position: relative;
    width: 90%;
    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 120vh;
      @media (max-width: 1360px) {
        height: 80vh;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
          border-top-right-radius: 5px;
        }
      }
    }

    .text {
      transform: translateX(-130%);
      width: 60%;
      padding-top: 90px;
      margin-left: 30px;
      @media (max-width: 806px) {
        width: 98%;
        margin: auto;
      }

      @media (max-width: 786px) {
        text-align: center;
      }
      h1 {
        font-size: 70px;
        font-weight: 700;
        @media (max-width: 806px) {
          font-size: 40px;
        }
      }

      p {
        font-size: 20px;
        width: 85%;
        @media (max-width: 806px) {
          font-size: 16px;
          margin-top: 50px;
        }
      }

      .yellow-btn {
        display: inline-block;
        margin-top: 50px;
        @media (max-width: 806px) {
          display: block;
          width: fit-content;
          margin: auto;
          margin-top: 70px;
        }
      }
    }
  }
}
