.title {
  position: relative;
  margin-top: 70px;
  @media (max-width: 992px) {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title-shadow {
    font-family: var(--title-shadow);
    font-size: 100px;
    opacity: 0.1;
    @media (max-width: 992px) {
      font-size: 60px;
    }
    @media (max-width: 768px) {
      font-size: 40px !important;
    }
  }
  h1 {
    position: absolute;
    font-size: 50px;
    bottom: -10px;
    @media (max-width: 992px) {
      text-align: center;
      margin: auto;
      /* min-width: fit-content; */
      bottom: 20px;
      font-size: 30px;
      bottom: 0;
    }
    @media (max-width: 768px) {
      font-size: 20px !important;
      width: 300px;
    }
  }
}
